<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit {{ scene.name }}</title>
</head>
<body>

<h1>
    AI SomeOne Else
</h1>

<h2>Scene : {{ scene.name }}</h2>

<form action="/edit/{{ scene.name }}">
    <label>
        Orignial Speech text:
        <textarea name="speech">{{ scene.speech }}</textarea>
    </label>
</form>
<br>

<button type="button" id="record">Record</button>
<button type="button" id="stopRecord" disabled>Stop</button>

<audio id=recordedAudio></audio>

<script>
    navigator.mediaDevices.getUserMedia({audio: true})
        .then(stream => {
            handlerFunction(stream)
        })

    function handlerFunction(stream) {
        rec = new MediaRecorder(stream);
        rec.ondataavailable = e => {
            audioChunks.push(e.data);
            if (rec.state == "inactive") {
                let blob = new Blob(audioChunks, {type: 'audio/mp3'});

                recordedAudio.src = URL.createObjectURL(blob);
                recordedAudio.controls = true;
                recordedAudio.autoplay = true;
                sendData(blob)
            }
        }
    }

    async function sendData(data) {
        let fd = new FormData();
        fd.append('audio', data, 'test.mp3');
        await fetch('/audio', {
            method: 'POST',
            body: fd
        });

        window.alert("Upload Success");
    }

    record.onclick = e => {
        record.disabled = true;
        record.style.backgroundColor = "blue"
        stopRecord.disabled = false;
        audioChunks = [];
        rec.start();
    }
    stopRecord.onclick = e => {
        record.disabled = false;
        stop.disabled = true;
        record.style.backgroundColor = "red"
        rec.stop();
    }
</script>
</body>
</html>